*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    font-size: 60px;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header{ 
    background: #fff;
    height: 60px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.link{
    text-decoration: none;
    padding-left: 10px;
    color: #5B5A5B;
    font-weight: 400;
    font-size: 14px;
}

ion-icon{
    font-size: 20px;
    padding: 8px;
    border-radius: 20px;
    transition: 3s;
}

ion-icon:hover{
    background: #dcdcdc;
    border-radius: 20px;
}

.btn-cinza{
    font-size: 13px;
    text-decoration: none;
    background: #F8F9FA;
    padding: 8px 20px 8px 20px;
    color: #4B4E51;
    border-radius: 5px;
    margin-left: 5px;
}

.pesquisa{
    margin: 10px;
    height: 40px;
    min-width: 45vw;
    max-width: 50vw;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
}

.pesquisa:hover{
    box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.btn{
    background: #1A73E8;
    padding: 8px 15px 8px 15px;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
}

.btn:hover{
    background: #1A73E8e8;
}


.main{
    background: #ffff;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    color: #6B7682;
    background: #F2F2F2;
    height: 60px;
    border-bottom: 1px solid #DDDFE3;
    font-size: 18px;
    padding-left: 18px;

    display: flex;
    align-items: center;
}